.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 40px;
    background-color: #111111;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
border-bottom: 2px solid rgba(255, 204, 0, 0.7);
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 300px;
}

.logo img {
  height: 50px;
  width: 50px;
}

.logo h1 {
  font-size: 40px;
  font-weight: 600;
  color: #ffcc00;
  opacity: 0.9;
  margin: 0;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  background-color: #ffcc00;
  color: #111111;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
    border-radius: 30px;
    letter-spacing: 1px;
    opacity: 0.8;
  position: relative;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  opacity: 0.9;
}

.nav-links a:hover {
  color:#ffcc00;
  background-color: #ffffff;
}
.nav-link.active {
    color:#ffcc00;
  background-color: #ffffff;
}
li {
  list-style: none;
}

